// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
  .table__blocks {
      justify-content: space-around;
  }

  .header {    
    padding: 25px 0;

    &__logo {
      position: static;
    }

    &__nav {
    display: none;
    }

    

  .burger {
    visibility: visible;
  }
  }
}
