.header {
    border-bottom: $header-border-color solid 1px;

    &__logo {
        display: inline;
        text-transform: uppercase;
        font-family: $logo-font;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.8px;
        background: $logo-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__nav {
        width: 410px;
        margin: 0 auto;

        .nav {
            &__list {
                display: flex;
                justify-content: space-between;
            }

            &__item {
                display: inline-block;
                padding: 25px 10.5px;   
                position: relative;
                cursor: pointer;
                
                &:after {
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $secondary-color;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    transition: width $animation-time;
                }

                &:first-child {
                    margin-left: 10px;
                }

                &:hover, &--open {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}