.header {
    border-bottom: $header-border-color solid 1px;

    &__logo {
        display: inline;
        text-transform: uppercase;
        font-family: $logo-font;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.8px;
        background: $logo-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__nav {
        width: 410px;
        margin: 0 auto;

    }
}