<div class="wrapper">
    <h1 class="header__logo">insure&#046;</h1>


    <div class="burger js-menu">
        <div class="burger__element"></div>
        <div class="burger__element"></div>
        <div class="burger__element"></div>
    </div>
    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item nav__item--open"><a href="">personal plans</a></li>
            <li class="nav__item"><a href="">business plans</a></li>
            <li class="nav__item"><a href="">guide</a></li>
            <li class="nav__item"><a href="">blog</a></li>
        </ul>
    </nav>
</div>

<nav class="nav__mobile">
    <div class="close js_close-mobile"></div>

    <ul class="nav__list">
        <li class="nav__item"><a href="">personal plans</a></li>
        <li class="nav__item"><a href="">business plans</a></li>
        <li class="nav__item"><a href="">guide</a></li>
        <li class="nav__item"><a href="">blog</a></li>
    </ul>
</nav>