<div class="main__top">
    <h2 class="main__title">
        Insurance list:
    </h2>

    <div class="main__type">
        <div class="cart active">
            <div class="cart__element element"></div>
            <div class="cart__element element"></div>
            <div class="cart__element element"></div>
            <div class="cart__element element"></div>
        </div>
        <div class="block">
            <div class="block__element element"></div>
            <div class="block__element element"></div>
            <div class="block__element element"></div>
            <div class="block__element element"></div>
        </div>
    </div>
</div>

<div class="main__table table__cart">
    <div class="table__captions">
        <span class="table__company table__company--top">
            company
        </span>
        <span class="table__covering">
            covering
        </span>
        <span class="table__type">
            type
        </span>
        <span class="table__level">
            Metal level
        </span>
        <span class="table__drugs">
            drugs
        </span>
        <span class="table__visits">
            primary care visits
        </span>
        <span class="table__deductible">
            Yearly Deductible
        </span>
        <span class="table__price">
            price
        </span>
    </div>
    <template id="js-insurance__row">
        <div class="table__row">
            <figure class="table__company">
                <img class="company__logo" src="img/insurcom.png" alt="Insurcom logo">
                <figcaption class="company__caption">
                    <span class="company__name">Insurcom</span>
                    <div class="company__rating">
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                    </div>
                </figcaption>
            </figure>
            <div class="table__covering">
                health
            </div>
            <div class="table__type">
                <span class="js-type">PRO</span>
                <div class="table__help">?</div>
            </div>
            <div class="table__level table__level--color" data-color="platinum">
                <span class="js-level">platinum</span>
                <div class="table__help">?</div>
            </div>
            <div class="table__drugs">
                $15
            </div>
            <div class="table__visits">
                $75
            </div>
            <div class="table__deductible">
                $6000
            </div>
            <div class="table__price">
                <span class="js-price">$611</span>/mon
            </div>
            <div class="table__buttons">
                <button class="btn btn--overview">overview</button>
                <button class="btn btn--buy">buy</button>
            </div>
        </div>  
    </template>
</div>

<div class="main__table table__blocks">
    <!-- <template id="js-insurance__row"> -->
        <div class="table__block">
            <figure class="table__company">
                <img class="company__logo" src="img/insurcom.png" alt="Insurcom logo">
                <figcaption class="company__caption">
                    <span class="company__name">Insurcom</span>
                    <div class="company__rating">
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                        <svg class="star">
                            <use xlink:href="./img/svgSprite.svg#star"></use>
                        </svg>   
                    </div>
                </figcaption>
            </figure>
            <div class="table__covering">
                <span class="table__captions captions__text">
                    covering:
                </span>
                <span class="table__covering">
                    health
                </span>
            </div>
            <div class="table__type">
                <span class="table__captions captions__text">
                    type:
                </span>
                <span class="js-type">PRO</span>
                <div class="table__help">?</div>
            </div>
            <div class="table__level">     
                <span class="table__captions captions__text">
                    Metal level:
                </span>

                <span class="js-level" data-color="platinum">platinum</span>           
                <div class="table__help">?</div>
            </div>
            <div class="table__drugs">         
                <div class="table__captions">                    
                    <div class="table__help">?</div>
                    <span class="captions__text">drugs:</span>
                </div>
                $15
            </div>
            <div class="table__visits">       
                <div class="table__captions">                    
                    <div class="table__help">?</div>
                    <span class="captions__text">Primary Care Visits:</span>
                </div>
                $75
            </div>
            <div class="table__deductible">       
                <div class="table__captions">                    
                    <div class="table__help">?</div>
                    <span class="captions__text">Yearly Deductible</span>
                </div>
                $6000
            </div>
            <div class="table__price">
                <div class="price__text"><span class="js-price">$356</span>/</div>mon
            </div>
            <div class="table__buttons">
                <button class="btn btn--overview">overview</button>
                <button class="btn btn--buy">buy</button>
            </div>
        </div>  
    <!-- </template> -->
</div>